:root{
    --red: #A42900;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
    overflow-y:scroll;
}

.map{
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    width: 100%;
    height: calc(100vh + 250px);
    background: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9)),url("../misc/teamap.png") top no-repeat;
    background-size: cover;
    cursor: none;
}

.reveal{
    width: 100%;
    height: 100%;
    background: url("../misc/teamap.png") top no-repeat;
    background-size: cover;  
    clip-path: circle(80px at 0px 0px);
}

.pin-container{
    height: 100%;
    width: 100%;

}

.pin {
    position: absolute;
    z-index: 5;
    width: 20px;
    height: 20px;
}

.pin:hover{
    cursor: pointer;
}

.pin span{
    color: white;
    display: none;
}

.pin-usa{
    left: 275px;
    top: 420px;
}
.pin-uk{
    left: 515px;
    top: 365px;
}
.pin-china{
    right: 455px;
    top: 430px;
}
.pin-india{
    right: 520px;
    top: 455px;
}

.pin:before {
    content: '';
    position: relative;
    display: block;
    width: 300%;
    height: 300%;
    box-sizing: border-box;
    margin-left: -100%;
    margin-top: -100%;
    border-radius: 45px;
    background-color: var(--red);
    animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}
    
.pin:after {
    content: '';
    position: absolute;
    left: 0; 
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 8px rgba(0,0,0,.3);
    animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.4s infinite;
}

  
@keyframes pulse-ring {
    0% {
        transform: scale(.33);
    }
    80%, 100% {
        opacity: 0;
    }
}

@keyframes pulse-dot {
    0% {
        transform: scale(.8);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(.8);
    }
}

/*modal for the tea to show*/
.tea-container-modal{
    position: fixed;
    z-index: 10;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(255,255,255,0.5);
    border: 10px solid transparent;
    padding: 15px;
    border-image: url("../misc/border.png") 30 round;
    padding: 15px;
    display:none;
    opacity: 0;
    transition: opacity 250ms ease-in;
}

.p5-tea-box{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.close{
    float:right;
    background: var(--red);
    color: white;
    border: var(--red);
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 5px;
    
}

.close:hover{
    cursor: pointer;
    background-color: #212121;
}